In [64]:
import pandas as pd
import numpy as np
import json

In [65]:
csv_url = 'desafio1.csv'
df = pd.read_csv(csv_url)
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [66]:
grouped = df.groupby('estado_residencia')

In [67]:
states = df.estado_residencia.unique()
states

array(['SC', 'RS', 'PR'], dtype=object)

In [68]:
feature = 'pontuacao_credito'
values = {e: {
    'moda': float(grouped[feature].agg(pd.Series.mode)[e]),
    'mediana': float(grouped[feature].median()[e]),
    'media': float(grouped[feature].mean()[e]),
    'desvio_padrao': float(grouped[feature].agg(np.std)[e]),    
    } for e in states
}
values

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755}}

In [69]:
with open('submission.json', 'w') as sub_file:
    json.dump(values, sub_file)