# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_url = 'black_friday.csv'
black_friday = pd.read_csv(csv_url)

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    return black_friday.shape

In [5]:
result = q1()
assert type(result) == tuple
assert len(result) == 2
assert result == (537577, 12)
result

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [6]:
def q2():
    shape = black_friday.loc[
        (black_friday['Gender'] == "F") & (black_friday['Age'] == '26-35')
    ].shape
    return int(shape[0])

In [7]:
result = q2()
assert type(result) == int
assert result == 49348
result

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [8]:
def q3(feature='User_ID'):
    uniques = black_friday.nunique()
    return int(uniques[feature])

In [9]:
result = q3()
assert type(result) == int
assert result == 5891
result

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [10]:
def q4():
    return black_friday.dtypes.nunique()

In [11]:
result = q4()
assert type(result) == int
assert result == 3
result

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [12]:
def q5():
    null_row_filter = pd.isnull(black_friday).any(axis=1)
    nulls_regs = black_friday[null_row_filter].shape[0]
    all_regs = black_friday.shape[0]
    return nulls_regs / all_regs

In [13]:
result = q5()
assert type(result) == float
assert 0.0 <= result <= 1.0
assert round(result, 3) == 0.694
result

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [14]:
def q6():
    null_count = black_friday.isnull().sum()
    null_count.sort_values(inplace=True, ascending=False)
    return int(null_count[0])

In [15]:
result = q6()
assert type(result) == int
assert result == 373299
result

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [16]:
def q7(feature='Product_Category_3'):
    mode = black_friday[feature].mode(dropna=True)
    return mode[0]

In [17]:
result = q7()
assert result
assert result == 16
result

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [18]:
def normalize(feature):
    max_value = black_friday[feature].max()
    min_value = black_friday[feature].min()
    range_value = max_value - min_value
    feature_norm = (black_friday[feature] - min_value) / range_value
    return feature_norm

In [19]:
def q8(feature = 'Purchase'):
    feature_norm = normalize(feature)
    return float(np.mean(feature_norm))

In [20]:
result = q8()
assert type(result) == float
assert 0.0 <= result <= 1.0
assert round(result, 3) == 0.385
result

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [21]:
def q9(feature = 'Purchase'):
    feature_norm = normalize(feature)
    filter = feature_norm.between(-1, 1, inclusive=False)
    return int(len(feature_norm[filter]))

In [22]:
result = q9()
assert type(result) == int
print(result)
assert result == 348631

537574

AssertionError:

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [23]:
def q10():
    cat_2_null = black_friday['Product_Category_2'].isnull()
    cat_3_null = black_friday['Product_Category_3'][cat_2_null]
    return int(cat_3_null.count()) == 0

In [24]:
result = q10()
assert type(result) == bool
assert result
result

True